@charset "UTF-8";

/*GERAL*/
*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: black;
}

a{
    text-decoration: none;
    color: white;
}

/*CABECALHO*/
header{
    background: url("../imagens/background\ \(3\).jpg") center center no-repeat fixed;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 20px;
}

header > h1{
    margin: 12px;
    font: normal bold 3em arial;
}

/*MENU*/
nav{
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border: 1px solid white;
}

nav > p{
    color: white;
    font: normal bold 1.3em arial;
    padding: 10px;
    text-align: center;
}

nav > a{
    display: none;
    font: normal bold 1.8vh arial;
    border-radius: 10px;
    padding: 9px;
    

}

nav:hover > a{
    display: flex;
    flex-direction: column;
    
    
}

nav > a:hover{
    background-color: rgba(255, 255, 255, 0.137);
    transition-duration: 0.7s;
}

/*CORPO*/
main{
    border-radius: 20px;
    background: url("../imagens/background\ \(3\).jpg") center center no-repeat fixed;
    background-size: cover;
    min-height: 100vh;
    padding: 30px;
}

section.contain{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: black;

    display: block;
    min-height: 100px;
    margin: auto;
    margin-bottom: 40px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    max-width: 70%;
    box-shadow: 1px 1px 7px black;
}

section.contain:hover{
    box-shadow: 1px 1px 20px rgb(4, 4, 99);
    transition-duration: 0.2s;
    border: 2px solid rgb(148, 136, 238);
}


section#bloco1{
    background-image: url("../imagens/background\ \(7\).jpg");
}

section#bloco2{
    background-image: url("../imagens/background\ \(7\).jpg");
}

section#bloco3{
    background-image: url("../imagens/background\ \(7\).jpg");
}

section.contain > h2{
    font: normal bold 3vh arial;
    text-align: center;
    padding: 30px;
}
/*RODAPE*/

footer{
    background-color: rgb(0, 0, 0);
}

footer > p{
    color: white;
    text-align: center;
    padding: 8px;
    font: normal bold 0.9em arial;
}

  